@charset "UTF-8";

.container {
	background-color: #f58243;
	height: 718px;
	/*font-family: 'Gowun Dodum', sans-serif;
	font-family: 'IBM Plex Sans', sans-serif; */
	font-family: 'IBM Plex Sans KR', sans-serif;
}

#scBody {
	padding: 3%;
	text-align: center;
}

#scBody hr {
	border: 1px dashed #DCDCDC;
}
#scBody h5 {
	text-align: right;
	font-size: 14px;
}
/* 채팅창 */
#chattingBox {
	width: 100%;
	height: 550px;
	margin-top: 10px;
	background-color: rgba(103, 73, 59, .5);
	padding: 5%;
	overflow-y: scroll;
	border-radius: 5px;
}
.chatInfo {
	color: white
}

#chattingBox::-webkit-scrollbar {
	width: 10px;
}

#chattingBox::-webkit-scrollbar-thumb {
	background-color: #f58243;
	border-radius: 3px;
	border: 1px solid #67493B;
}

#chattingBox::-webkit-scrollbar-track {
	background-color: rgba(103, 73, 59, .3);
	border-radius: 3px;
}

#chattingBox .me {
	color: #F6F6F6;
	text-align: right;
	line-height: 35px;
}

#chattingBox .me .meMsg {
	padding: 6px 12px;
	border-radius: 2px;
	background-color: #67493B;
}

#chattingBox .others {
	color: #F6F6F6;
	text-align: left;
	line-height: 35px;
}

#chattingBox .others .othersMsg {
	margin-top: 5px;
	padding: 6px 12px;
	border-radius: 2px;
	background-color: #f58243;
}


#chatDiv {
	width: 100%;
	margin-top: 5px;
}

#chatting {
	width: 100%; height : 70px;
	float: left;
	padding: 5px;
	border: none;
	resize: none;
	height: 70px;
}

#sendBtn {
	width: 100%;
	height: 70px;
	float: left;
	background-color: rgba(103, 73, 59, .3);
	border: none;
	color: white;
}

.inputTable {
	margin-top: 10px;
	width: 100%;
}

#sendBtn:hover {
	background-color: rgba(103, 73, 59, .8);
}