@charset "UTF-8";

h5 {
	text-align: center;
	padding: 10px;
}
h1, h5, .container *{
	font-family: 'IBM Plex Sans KR', sans-serif; 
}

.container {
	height: auto;
	text-align: center;
}

#ciEdit, #ciDel {
	width: 5%;
 	background-color: #f58243;
 	margin-left: 5px;
 	margin-top:-5px;
 	padding: 6px;
 	border: 0px;
 	border-radius: 5px;
 	color:white;
}

#ciDel {
 	background-color: #67493B;
}

#ciEdit:hover {
	background-color: #e57233;
}
#ciDel:hover {
	background-color: #57392B;
}

#spBody {
	padding: 30px;
	padding-top: 10px;
	border: 2px solid orange;
	
}

#spInfoImg {
	width: 400px;
	height: 400px;
	margin-bottom: 50px;
}

#spHead, #spFoot {
	width: 100%;
	text-align: right;
}

#spRep {
	width:100%;
	margin-top:10px;
}

#spReply {
	width: 89%;
	padding: 4px;
	margin-bottom: 10px;
}

#roomList {
	margin-top: 10px;
}
/*
#roomList * {
	text-align: left;
}*/
#roomList tr {
	width: 100%;
	border-bottom : 0.5px solid #DCDCDC;
}
#roomList td{
	padding: 5px;
	margin-bottom: 5px;
	padding-right: 0px;
}

#roomList div {
	width: 70%;
	float: left;
}

#roomList .spUserInfo {
	padding: 6px 0;
}

#roomList td>.goChatDiv {
	width: 30%;
	text-align: right;
}

#roomList hr {
	margin-bottom:5px;
}
#createRoom {
 	width: 100%;
 	background-color: #f58243;
 	padding: 6px 12px;
 	border: 0px;
 	border-radius: 5px;
 	color:white;
}
#createRoom:hover {
	background-color: #e57233;
}

.room {
	text-align: left;
}

.go button, .chatDel button {
	width:100%;
	border: 0px;
	border-radius: 5px;
	padding: 6px 12px;
	background-color: #f58243;
	color:white;
	text-align: center;
}

.chatDel button {
	background-color: #67493B;
}

.go button:hover {
	background-color: #e57233;
}
.chatDel button:hover {
	background-color: #57392B;
}