@charset "UTF-8";
/*container*/
.gatherView{
	border-left: 2px solid gray;
 	border-right: 2px solid gray;
 	font-family: 'Gowun Dodum', sans-serif;  /*메인페이지 타이틀 폰트*/
	font-family: 'IBM Plex Sans', sans-serif; /* 본문 영문 폰트*/
	font-family: 'IBM Plex Sans KR', sans-serif; /* 본문 한글폰트 */
}

.camperTitle{
	text-align:right;
	font-size:2.0em;
}

#gatherEdit, #gnewnoBtn1, #edit, .editForm input[value=수정] {
	background:rgb(245, 130, 67);
	color:white;
}
#gatherDel, #del{
	background:#67493B;
	color:white;
}

#iconsAndName{
	overflow: auto;
}

#iconsAndName>li{
	float: left;
	margin:20px;
}

#iconsAndName>li:nth-child(3n), #iconsAndName>li:last-child{
	font-size:1.2em;
	float:right;
}

#placeAndDate{
	/*background:beige;*/
	padding:10px;
}

#placeAndDate>div{
	margin:10px;
}

#placeAndDate>div:first-child, #placeAndDate>div:last-child{
	text-align:center;
	font-size:1.2em;
}

#gatherContent{
	padding:20px;
	/*background:beige;*/
}

#joinCamper{
	/*background:pink;*/
	padding:10px;
	margin:20px;
	display:flex;
	justify-content: space-around;
}

#gnewno, #gmemberno{
	font-size:1.2em;
	line-height:50px;
}

#gnewnoBtn1 {
	/*background:yellow;*/
	font-size:1.2em;
}

#joinWarn{
	padding:10px;
	margin-left:10px;	
	text-align:center;
}

/*댓글*/
.replyMark{
	float:right;
	margin:5px;	
}

#replyLine{
	margin:10px;
	display:flex;
}

#replyLine textarea, .editForm textarea{
	padding: 15px;
	border: none;
	border-radius:10px;
	outline:none;
	resize:none;
	width:95%;
	background:rgb(100, 100, 100, .1);
}

.replyBtn{
	margin-left:10px;
	background:rgb(245, 130, 67);
	color:white
}

#rList{
	margin-top:20px;
}

#edit{
	margin-left:20px;
	margin-right:20px;
}

.editForm{
	display:none;
	margin-top:10px;
}
