@charset "UTF-8";

#gatherWrite{
	border:2px solid orange;
	padding:10px;
}

.writeMark{
	font-size:2.0em;
	margin:20px;
}

.writeTitle, .writeCamper, .writeDate, .writePlace{
	background:#E6BA95;
	padding:10px;
	border-radius: 3px;
	margin-left:30px;
}

.writeTitle>span, .writeCamper>span, .writeDate>span, .writePlace>span{
	margin:20px;
}

.writeTitle>input, .writeCamper>input, .writeDate>input, .writePlace>input{
	border-radius: 5px;
	border: solid #E6BA95;
}

#datepicker1, #datepicker2{
	padding-left:10px;
}

.btns>input{
	margin-top:20px;
	background:#E6BA95;
}

#resetBtn{
	background:gray;
	color:white;
}

#showList{
	float:right;
}
