@charset "UTF-8";

#gatherWrite{
	padding:10px;
	background:rgba(245, 130, 67, .1);
}

.writeMark{
	font-size:1.8em;
	margin:20px;
}

.writeTitle, .writeCamper, .writeDate, .writePlace{
	padding:10px;
	border-radius:3px;
	margin-left:30px;
}


.writeTitle>input, .writeCamper>input, .writeDate>input, .writePlace>input{
	border: solid rgba(245, 130, 67, .2);
	padding:10px;
	border-radius:5px;
}

#datepicker1, #datepicker2{
	padding-left:10px;
}

.btns>input{
	margin-top:20px;
	background:rgb(245, 130, 67);
	color:white;
	padding:10px;
}

#resetBtn{
	background:#67493B;
	color:white;
	padding:10px;
}

#showList{
	float:right;
}

