@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@200;400;500;600&family=IBM+Plex+Sans:wght@100;200;300;400;500&display=swap');


a { 
	text-decoration:none;
}

a:hover { 
	text-decoration:none;
}


#header, #footer{
	display:none;
}


/*============ 메뉴 =========== */

.home__nav{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 20px;
	z-index: 100;
}

.home__nav ul{
	display: flex;
	justify-content: center;
	list-style: none;
}


ul.h__myMenu > li { 
	display: inline-block;
    width: 350px;
    padding: 56px 10px;
    text-align: center;
    position: relative;
}


ul.h__myMenu > li ul.h__submenu { 
	display:none; 
	position:absolute;
	top:90px; 
	left:0; 
}

ul.h__myMenu > li:hover ul.h__submenu { 
	display:block;
}

ul.h__myMenu > li ul.h__submenu > li { 
	display:inline-block; 
	width:350px; 
	padding:5px 10px; 
	background:rgba(255, 255, 255, .25);  
	text-align:center; 
}

ul.h__myMenu > li ul.h__submenu > li:hover { 
	background:rgba(255, 255, 255, .5);  
}

.h__myMenu a {
	color: rgba(255, 255, 255, 0.6);  
	font-size: 23px;
	font-weight: 500;
	font-family: 'IBM Plex Sans', sans-serif;
}

.section{
	text-align:center;
	background-size: cover;
}


/*============ #section 1 =========== */  


#section1{
	background-image: url(/img/home/01_.jpg);
 	width: 100%;
    height: 100vh;
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
}

.s1_container {
	width: 100%;
    height: 500px;
    padding: 84px 0;
}

#section1 img{
    display: block;
    margin: 0 auto;
    position: relative;
    top: -70px;
}

#section1 h1{
	top: -93px;
    position: relative;
    color: white;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 40px;
}

#section1 input{
    top: -53px;
    position: relative;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 500;
    font-size: 22px;
    padding: 5px 5px;
    margin: 15px;
    width: 121px;
    height: 53px;
    background: rgba(255,255,255, .3);
    border: none;
    color: white;
    border-radius: 91px;
    transition: all 200ms linear;
}

#section1 input:hover{
    font-weight: 700;
    background: #EE7238;
    box-shadow: 30px 40px 30px 0px rgb(0 0 0 / 35%);
  	transform: translateY(-5px);

}


/*========== scroll ==========*/
.demo a {

    position: relative;
   right: -45.5vw;
    top: -276px;
    display: block;
    color: #fff;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}


#section1 a {
  padding-top: 60px;
}



#section1 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

#section1 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



/*============ #section 3 =========== */ 

#section3{
	background-image: url(/img/home/02_.jpg);
 	width: 100%;
    height: 100vh;
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    
}


/* #section3 h1 {
	color: white;
	font-family: 'Gowun Dodum', sans-serif;
	margin: 20px;
	padding: 20px 20px;
} */


/*============ #section 3 / slide 1 =========== */ 

.h__card{
  	display: flex;
  	justify-content: center;
}

.h__card1{
	position: relative;
    top: 50px;
    width: 450px;
    height: 600px;
    background-color: rgba(0, 0 , 0, .3);
    padding: 20px 10px;
    margin: 50px 40px;
    box-shadow: 5px 13px 10px 1px rgb(0 0 0 / 50%);
    transition: all 250ms linear;
    float: left;
}

.h__card1:hover{
    background: #ff9000;
    box-shadow: 30px 40px 30px 0px rgb(0 0 0 / 35%);
  	transform: translateY(-15px);
}


.h__card1__title{
	color: rgba(255, 255, 255, .9);
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 300;
	font-size: 25px;
	padding: 10px 10px;
}

.h__card1 img {
	width: 400px;
	height: 350px;
	object-fit: cover;
	margin-top: 10px;
	margin-bottom: 10px;
}

.h__card1__contents{
	color: rgba(255, 255, 255, .9);
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding: 10px 10px;
	
}




/*============ #section 3 / slide 2 =========== */ 

.h__card{
  	display: flex;
  	justify-content: center;
}

.h__card2{
	position: relative;
    top: 50px;
    width: 1200px;
    height: 600px;
    background-color: rgba(0, 0 , 0, .3);
    padding: 20px 10px;
    margin: 50px 40px;
    box-shadow: 5px 13px 10px 1px rgb(0 0 0 / 50%);
    transition: all 250ms linear;
    float: left;
}

.h__card2:hover{
    background: #ff853c;
    box-shadow: 30px 40px 30px 0px rgb(0 0 0 / 35%);
  	transform: translateY(-15px);
}


.h__card2__title{
	color: rgba(255, 255, 255, .9);
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 300;
	font-size: 25px;
	padding: 10px 10px;
}

.h__card2 img {
	width: 1000px;
	height: 350px;
	object-fit: cover;
	margin-top: 10px;
	margin-bottom: 10px;
}

.h__card2__contents{
	color: rgba(255, 255, 255, .9);
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding: 10px 10px;
	
}


/*============ #section 3 / slide 3 =========== */ 

.h__card{
  	display: flex;
  	justify-content: center;
}

.h__card3{
	position: relative;
    top: 50px;
    width: 1200px;
    height: 600px;
    background-color: rgba(0, 0 , 0, .3);
    padding: 20px 10px;
    margin: 50px 40px;
    box-shadow: 5px 13px 10px 1px rgb(0 0 0 / 50%);
    transition: all 250ms linear;
    float: left;
}

.h__card3:hover{
    background: #ffa909;
    box-shadow: 30px 40px 30px 0px rgb(0 0 0 / 35%);
  	transform: translateY(-15px);
}


.h__card3__title{
	color: rgba(255, 255, 255, .9);
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 300;
	font-size: 25px;
	padding: 10px 10px;
}

.h__card3 img {
	width: 1000px;
	height: 350px;
	object-fit: cover;
	margin-top: 10px;
	margin-bottom: 10px;
}

.h__card3__contents{
	color: rgba(255, 255, 255, .9);
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding: 10px 10px;
	
}


/*============ #section 4 =========== */ 
#myVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
 	background-color: black; /* in case the video doesn't fit the whole page*/
  	background-image: url("/img/home/fire.mp4"); 
  	background-position: center center;
  	background-size: contain;
  	object-fit: cover; /*cover video background */
 	z-index:3;
}
	
#section4 h1{
	text-align: right;
	font-family: 'Gowun Dodum', sans-serif;
    font-size: 35px;
    line-height: 50px;
}


#section4 .layer{
	display: block;
    position: relative;
    z-index: 4;
    right: 13vw;
    top: -4%;
    color: white;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



#section4 input{
    right: 2.5vw;
    position: absolute;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 500;
    font-size: 22px;
    padding: 5px 5px;
    margin: 10px 0px;
    width: 163px;
    height: 71px;
    background: rgba(255,255,255, .3);
    border: none;
    color: white;
    border-radius: 12px;
    transition: all 200ms linear;
    z-index: 20;
}

#section4 input:hover{
    font-weight: 700;
    background: #EE7238;
    box-shadow: 30px 40px 30px 0px rgb(0 0 0 / 35%);
  	transform: translateY(-5px);

}
