@charset "UTF-8";
.container{
	font-family: 'Gowun Dodum', sans-serif; /*메인페이지 타이틀 폰트*/
	font-family: 'IBM Plex Sans', sans-serif; /* 본문 영문 폰트*/
	font-family: 'IBM Plex Sans KR', sans-serif; /* 본문 한글폰트 */
}
	
.searchbox {
	padding:10px;
	margin: 33px auto;
	text-align: center;
	position: relative;		
	height:auto;
	background-color:#ffbf70;
	color: white;
	box-shadow: 0px 3px 6px 0px #c1c0c0;
	border-radius: 5px;
}	

#searchBoxunderline{
	background-color: #eeeeee;
	width:100%;
	height:auto;
	padding:9px 0;
	position:relative;
	border-bottom:2px solid black;
}

.campingListShow{
	overflow:auto;
}

#capmingSite{
	border-bottom:1px solid gray;
	padding:25px 20px;
	width: 100%;
	height:230px;
}

.C_SearchBtnWrap{
	padding: 20px 0px;
	border-bottom: 1.5px solid #ffffff;
	width: 90%;
	margin: 10px auto; 	 	
}	

input {
     -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;       
}

.detail, .tag_search{
	width: 45%;
    height: 52px;
    border: none;
    background-color: white;
    margin: 5px 12px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    color: #4a4a4a;
}

.detail:hover, .tag_search:hover{
    background-color: #67493B;
    color: white;		
}

.C_select{
	position: relative;
	text-align: center;		
	width: 90%;
	padding: 10px 0px;
	margin: 20px auto;		
	background-color: #67493B;
	opacity:0.8;
	border-radius: 5px;
}

#sido, #gungu{
     text-align:center;
     width: 150px;
     height:30px;
     line-height: 30px;
     border:none;
     border-radius:5px;
     padding-top:3px;
     color:rgb(72, 97, 86);
     margin:10px;
  }

.C_detail{
	border: none;
    background-color: #ff823f;
    color: white;
    padding: 6px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 8px;	    
}

.C_search{		
	border: none;
    background-color: #ff823f;
    color: white;
    padding: 12px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
}

.C_search:hover{
	background-color: #67493B;
}
	
.tagSearch{
	padding:10px;
	margin: 33px auto;
	text-align: center;
	position: relative;		
	height:auto;
	background-color:#ffbf70;
	color: white;
	box-shadow: 0px 3px 6px 0px #c1c0c0;
	border-radius: 5px;
}
			
#imageBox{
	float:left; width:30%;
}

#campingInfo{
	float:left; width:70%; 
}

.col-8{
	width:700px;
    padding:0 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#campinglink,
#campinglink:visited,
#campinglink:active{
	color : black;		
}

#campinglink:hover {
	text-decoration-line: underline;
}