@charset "UTF-8";
#wrap{
	overflow:hidden;
	position:relative;
	width:100%;
	margin:0;
	padding:0;
	font-family: 'Gowun Dodum', sans-serif;  /*메인페이지 타이틀 폰트*/
	font-family: 'IBM Plex Sans', sans-serif; /* 본문 영문 폰트*/
	font-family: 'IBM Plex Sans KR', sans-serif; /* 본문 한글폰트 */
	display:block;	
}

#campingTitle {
	position: relative;
    width: 100%;
    height: 80px;
    padding-bottom: 50px;
    clear: both;
}

h2{
	text-align: center;
	padding:20px;
}

.gray_bar {
    width: 100%;
    height: auto;
    padding: 9px 0;
    background: #eff0f4;
    position: relative;
}

#siteSection{
	width:1200px;
	position:relative;
	display:block;
	margin:0 auto;
	padding:15px 0 95px 0;
	background: #fff;
}

#imagebox{
	margin:0px;
	padding:0px;
	width:60%;
	height:484 px;
	float:left;
	border:1px solid #dedede;
	box-sizing: border-box;
	display:block;
}

#infobox{
	width:37%;
	float:right;
	height:auto;
	overflow:hidden;
	margin:0px;
	padding:0px;
	display:block;
}

table{
	border-color: grey;
	border-collapse: collapse;
	box-sizing: border-box;
}

tbody{
	vertical-align: middle;
	border-color: inherit;
}

th{
	padding: 11px 10px;
    border-bottom: 1px solid #c8c8c8;
    text-align: left;
    color: #000;
    line-height: 25px;
}

tbody tr:nth-child(1) th {
    border-top: 2px solid #ff823f;
}

td{
	padding: 11px 10px;
    border-bottom: 1px solid #c8c8c8;
    line-height: 25px;
}

tbody tr:nth-child(1) td {
    border-top: 2px solid #67493B;
}

#btn_zzim{
	margin:10px 100px;
	padding :10px 50px;
}

.btn_zzim{
	position: relative;
	width:150px;
    height: 50px;    
    clear: both;
    border: none;
    text-align:center;
    line-height:25px;
	background-color: #ff823f;
	color: white;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 18px;
}

#contents{
	clear: both;
    position: relative;
    color: #626262;
    letter-spacing: -0.5px;
    display: block;    
    width: 1200px;
    margin: 0 auto;
}

.contents_Select{
	width: 100%;
    height: 50px;
    margin-bottom: 36px;
    display: inline-block;
    overflow: hidden;
    list-style: none;
}

.contents_SelectBtn{
	border-top: 2px solid #000;
    height: 51px;
    float: left;
    width: 25%;
    text-align: center;
    background: #67493B;
    border-right-color: white;
}

#contents a{
	line-height: 45px;
    font-size: 15px;
    letter-spacing: -0.08em;
    text-decoration: none;
    display: block;
    color: white;
}

.campIntro{
	width: 100%;
    position: relative;
    overflow: hidden;
}

.campIntro > ul {
    display: inline-block;
    overflow: hidden;
    width: 100%;    
}

.img_box{
	float:left;
	height:235px;
	width:380px;
	box-sizing: border-box;
	border: 1px solid #dedede;
	padding: 0 0 20px 0;
}

.campIntro_txt{
	width: 100%;
    padding: 20px 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    overflow: hidden;
    margin-top: 20px;
    display: block;
    clear: both;
}

.campIntro_txt > span.info_notice {
    font-size: 13px;
    font-weight: bold;
}

.info_notice > span.info_f_red {
    color: red;
}

.h3{
	position: relative;
    font-size: 20px;
    color: #000;
    padding-left: 29px;
    line-height: 27px;
    background: url(/img/2018/sub/icon_h3.gif) no-repeat left 6px;
    letter-spacing: -0.08em;
    word-break: break-all;
}

.campGuide_item {
    width: 94%;
    height: auto;
    overflow: hidden;
    padding: 30px 3%;
    background: #f9f9f9;
    border-radius: 5px;
}
