@charset "UTF-8";

#campingSuggestion{
	 font-family: 'Gowun Dodum', sans-serif;  /*메인페이지 타이틀 폰트*/
	font-family: 'IBM Plex Sans', sans-serif; /* 본문 영문 폰트*/
	font-family: 'IBM Plex Sans KR', sans-serif; /* 본문 한글폰트 */
}

#searchBoxunderline{
	background-color: #eeeeee;
	width:100%;
	height:auto;
	padding:9px 0;
	position:relative;
	border-bottom:2px solid black;
}

.campingListShow{
	overflow:auto;
}

#capmingSite{
	border-bottom:1px solid gray;
	padding:25px 20px;
	width: 100%;
	height:230px;
}

#imageBox{
	float:left; width:30%;
}
	
.h3{
	position: relative;
    font-size: 30px;
    color: #000;
    padding-left: 29px;
    line-height: 27px;
    text-align:center;
    margin: 20px 0 20px 0;
    letter-spacing: -0.08em;
    word-break: break-all;
    font-weight: bold;
}

#campingSuggestion{
	color : black;		
}

#campingSuggestion:visited {
	 color:black; 
}	

#campingSuggestion:active { 
	color:black; 
}

#campingSuggestion:hover {
	text-decoration-line: underline;
}

#imageBox{
float:left; width:30%;
}

#campingInfo{
float:left; width:70%;
}

.col-8{
width:700px;
padding:0 5px;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}

#campinglink,
#campinglink:visited,
#campinglink:active{
color : black;
}