@charset "UTF-8";

#myModal{
	font-family: 'Gowun Dodum', sans-serif;  /*메인페이지 타이틀 폰트*/
	font-family: 'IBM Plex Sans', sans-serif; /* 본문 영문 폰트*/
	font-family: 'IBM Plex Sans KR', sans-serif; /* 본문 한글폰트 */
}
table .reviewTitle{
	position: relative;
	min-width: 600px;
}
table .reviewTitle>a>span{
	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	position:absolute;
 	left: 9px;
 	right: 9px;
 	color: black;
 	line-height:28px;
}
#writeBtn{
	background:rgb(245, 130, 67);
	color:white;
	margin-bottom: 10px;
	float: right;
}
#content{
	border-radius:10px;
	outline:none;
	resize:none;
}
#modalSubmit{
	background:rgb(245, 130, 67);
	color:white;
}
#modalClose{
	background:#67493B;
	color:white;
}