main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding:0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("/img/member/logBackGround2.jpg");
    background-size: cover;
    background-attachment : fixed;
}


.memberForm {
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 13.5vh;
    position: relative;
    bottom: 7vh;
    backdrop-filter: blur(7px);
    padding-left: 40vw;
}

h1 {
    margin-top: 4vh;
    position: relative;
    text-align: center;
    margin-right: 40vw;
    color: white;
    letter-spacing: 5px;
}

.input-text {
    width: 20vw;
    height: 5vh;
    margin-bottom: 1.5vh;
    padding-left: 0.5vw;
    background-color: rgba(250, 250, 250, 40%);
    border: 0;
    color: #f9f9f9;
}

.input-text2 {
    width: 14.2vw;
    height: 5vh;
    margin-bottom: 1.5vh;
    padding-left: 0.5vw;
    background-color: rgba(250, 250, 250, 40%);
    border: 0;
    color: #f9f9f9;
}

.input-text3 {
    width: 11vw;
    height: 5vh;
    margin-bottom: 1.5vh;
    padding-left: 0.5vw;
    background-color: rgba(250, 250, 250, 40%);
    border: 0;
    color: #f9f9f9;
}

.input-text4 {
    width: 16.7vw;
    height: 5vh;
    margin-bottom: 1.5vh;
    padding-left: 0.5vw;
    background-color: rgba(250, 250, 250, 40%);
    border: 0;
    color: #f9f9f9;
}


.join-btn {
    position: relative;
    bottom: 11vh;
    width: 20vw;
    height: 4.8vh;
    background: none;
    color: #f9f9f9;
    border-radius: 4px;
    border: 2px solid rgba(200, 200, 200, 55%);
}

.join-btn:hover {
    color: darkorange;
}

.send {
    position: relative;
    left: 14.5vw;
    bottom: 6.5vh;
    width: 5.5vw;
    height: 4.8vh;
    background-color: rgba(250, 250, 250, 40%);
    color: dimgrey;
    border-radius: 4px;
    border: none;
    font-size: 0.7em;
}

.send:hover {
    color: darkorange;
}

.certification {
    position: relative;
    left: 14.5vw;
    bottom: 14.2vh;
    width: 5.5vw;
    height: 4.8vh;
    background-color: rgba(250, 250, 250, 40%);
    color: dimgrey;
    border-radius: 4px;
    border: none;
    font-size: 0.7em;
}

.certification:hover {
    color: darkorange;
}

.find-a {
    color: rgba(250, 250, 250, 80%);
    position: relative;
    top: 5vh;
}

.find-a:hover {
    color: darkorange;
}

.state {
    font-size: 0.8em;
    color: #ca2819;
    position: relative;
    bottom: 1.5vh;
}

.stateOk {
    font-size: 0.8em;
    color: #0000CD;
}

.gender {
    color: dimgrey;
    background-color: rgba(250, 250, 250, 40%);
    width: 20vw;
    height: 4.8vh;
    margin-bottom: 1vh;
    padding-top: 10px;
}

.gender input[type=radio] {
    display: none;
}

.gender input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 2vw;
    border: 0;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
    background-color: rgba(230, 70, 0, 50%);
    color: ivory;
    position: relative;
    left: 2.5vw;
    margin-left: 2.5vw;
    border-radius: 3px;
}


.gender input[type=radio]:checked+label {
    color: darkorange;
}

input::placeholder {
    color:ivory;
}