main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding:0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("/img/member/logBackGround2.jpg");
    background-size: cover;
    background-attachment : fixed;
}


.memberFind {
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 13.5vh;
    position: relative;
    bottom: 7vh;
    backdrop-filter: blur(7px);
    padding-left: 40vw;
}

h1 {
    margin-top: 16vh;
    position: relative;
    text-align: center;
    margin-right: 40vw;
    color: white;
    letter-spacing: 5px;
}

.input-text {
    width: 20vw;
    height: 5vh;
    margin-bottom: 1.5vh;
    padding-left: 0.5vw;
    background-color: rgba(50, 50, 50, 40%);
    border: 0;
    color: #f9f9f9;
}

.find-btn {
    position: relative;
    top: 3vh;
    width: 20vw;
    height: 4.8vh;
    background: none;
    color: #f9f9f9;
    border-radius: 4px;
    border: 2px solid rgba(70, 70, 70, 55%);
}

.find-btn:hover {
    color: darkorange;
}

a {
    color: white;
}

.nav-pills .nav-link.active {
    color: darkorange;
}

.state {
    font-size: 0.8em;
    color: #ca2819;
    position: relative;
    bottom: 1.5vh;
}

.stateOk {
    font-size: 0.8em;
    color: #0000CD;
}

.join-tag {
    position: relative;
    top: 6vh;
    left: 8.5vw;
    color: #f9f9f9;
}

.join-tag:hover {
    color: darkorange;
}