@charset "UTF-8";

.container {
	height: auto;
	text-align: center;
	background-color: #CECECE;
}
#ciHead, #ciFoot {
	width: 100%;
	text-align: right;
}

#ciRep {
	width:96%;
	margin: 2%;
}

#ciReply {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

#ciReplyList * {
	text-align: left;
}

#ciReplyList li{
	padding: 5px;
}

#ciReplyList hr {
	margin-bottom:5px;
}

.clock {
	padding: 5px;
}