@charset "UTF-8";

.container {
	height: auto;
	text-align: center;
}
#ciBody {
	/*background-color: #FFD4AE;*/
	padding: 30px;
	padding-top: 10px;
	border: 2px solid orange;
	
}

#ciHead, #ciFoot {
	width: 100%;
	text-align: right;
}

#ciRep {
	width:100%;
	margin-top:10px;
}

#ciReply {
	width: 89%;
	padding: 4px;
	margin-bottom: 10px;
}

#ciReplyList * {
	text-align: left;
}

#ciReplyList li{
	padding: 5px;
}

#ciReplyList hr {
	margin-bottom:5px;
}
#ciReplyButton {
 	width: 10%;
 	background-color: #E6BA95;
 	padding: 6px 12px;
 	border: 0px;
 	border-radius: 5px;
}
#ciReplyButton:hover {
	background-color: #D6AA85;
}