@charset "UTF-8";

h1, .container *{
	font-family: 'IBM Plex Sans KR', sans-serif; 
}

.writeBtn{
   border-bottom : 5px solid;
   padding: 5px;
   color: #f58243;
}


/*리스트 박스*/
#camperTitle{
   font-size:2.0em;
   margin-left:10px;   
}

#camperName{
   float:right;
   font-size:1.2em;
   line-height:45px;
}

#placesList img{
   float:right;
   height:20%;
   width:20%;
   margin: 5px;
   margin-right: 10px;
}

.listContent>div{
   margin:20px;
}

/* 맵 ~ 버튼*/
#keyword {
	padding: 4.5px
}

#map {
	width:70%;
	position:relative;
	overflow:hidden;
	height:100%;
	float: left;
}

.map_wrap, .map_wrap *:not(.pagination *) {margin:0;padding:0; font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {
	width:28%;
	height:100%;
	margin:10px 0 30px 10px;
	padding:5px;
	overflow-y:auto;
	background:rgba(255, 255, 255, 0.7); 
	font-size:12px; 
	border-radius: 10px;
}


#menu_wrap::-webkit-scrollbar {
	width: 10px;
}
#menu_wrap::-webkit-scrollbar-thumb {
	background-color: #f58243;
	border-radius: 5px;
}
#menu_wrap::-webkit-scrollbar-track {
	background-color: #67493B;
	border-radius: 5px;
}



.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}

#menu_wrap button {
	border:0px;
	padding:6px 17px;
	background-color: #f58243;
	border-radius: 4px;
	font-size:12px;
	color: white;
}
#menu_wrap button:hover {
	background-color: #e57233;
}

#infoWin {
	font-weight: bold;
	font-size: 16px;
	text-shadow: -1px 0  #67493B, 0 1px #67493B, 1px 0 #67493B, 0 -1px #67493B;
	/*text-shadow: 1px 1px 1px #67493B;*/
	color:#f58243;
	white-space : nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
	letter-spacing: 1.4px;
}

#placesList li {list-style: none;}
#placesList li:hover { background-color: rgba(245, 130, 67, 1);}
#placesList .item {
	width: 98%;
	margin-bottom: 10px;
	overflow: hidden;
	cursor: pointer;
	min-height: 65px;
	
	background-color: rgba(103, 73, 59, .1);
	box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 50%);
	transition: all 200ms linear;
}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item h5 {font-size: 18px; margin-bottom: 15px;}
#placesList .item .info{padding:10px 0 10px 10px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#67493B;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}

#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}