@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@200;400;500;600&family=IBM+Plex+Sans:wght@100;200;300;400;500&display=swap');


body, div, ul, li {
	margin:0;
	padding:0;
	list-style-type: none;
}

h1 {
	text-align: center;
	padding: 10px;
	margin: 20px;
	margin-top: 40px;
}
body,div,ul,li{
	margin:0;
	padding:0;
	list-style-type:none;
}

h1 {
	text-align: center;
	padding:10px;
	margin:20px;
	margin-top:40px;
}

a, a:visited, a:hover, a:active{
	text-decoration:none; 
}