<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.myapp.admin.AdminDAO">
    <select id="totalRecordMembers" resultType="int">
    	select count(usertel) cnt from member
    	<if test="searchWord != null">
			where 			${searchKey}
			like 			'%${searchWord}%'
		</if>
    </select>
    
    <select id="totalRecordCampingList" resultType="int">
    	select count(contentId) cnt from campinglist
    	<if test="searchWord != null">
			where 			${searchKey}
			like 			'%${searchWord}%'
		</if>
    </select>
    
    <select id="totalRecordGather" resultType="int">
    	select count(carno) cnt from car
    	<if test="searchWord != null">
			where 			${searchKey}
			like 			'%${searchWord}%'
		</if>
    </select>
    
    <select id="totalRecordCar" resultType="int">
    	select count(gatherno) cnt from gather
    	<if test="searchWord != null">
			where 			${searchKey}
			like 			'%${searchWord}%'
		</if>
    </select>
    
    <select id="totalRecordGatherReply" resultType="int">
    	select count(replyno) cnt from gatherreply
    	<if test="searchWord != null">
			where 			${searchKey}
			like 			'%${searchWord}%'
		</if>
    </select>
    
    <select id="totalRecordCarReply" resultType="int">
    	select count(replyno) cnt from carreply
    	<if test="searchWord != null">
			where 			${searchKey}
			like 			'%${searchWord}%'
		</if>
    </select>
    
    <select id="tagAnimal" resultType="int">select count(sbrsCl) as animal from campinglist where sbrsCl like '%반려%'</select>
    <select id="tagHotwater" resultType="int">select count(sbrsCl) as hotwater from campinglist where sbrsCl like '%온수%'</select>
    <select id="tagElectric" resultType="int">select count(sbrsCl) as electric from campinglist where sbrsCl like '%전기%'</select>
    <select id="tagPool" resultType="int">select count(posblFcltyCl) as pool from campinglist where posblFcltyCl like '%수영장%'</select>
    <select id="tagWifi" resultType="int">select count(sbrsCl) as wifi from campinglist where sbrsCl like '%무선%'</select>
    <select id="tagMart" resultType="int">select count(sbrsCl) as mart from campinglist where sbrsCl like '%마트%'</select>
    <select id="tagPlayGround" resultType="int">select count(sbrsCl) as playground from campinglist where sbrsCl like '%놀이터%'</select>
    <select id="tagGym" resultType="int">select count(sbrsCl) as gym from campinglist where sbrsCl like '%운동장%'</select>
    <select id="tagFishing" resultType="int">select count(posblFcltyCl) as fishing from campinglist where posblFcltyCl like '%낚시%'</select>
    <select id="tagBeach" resultType="int">select count(posblFcltyCl) as beach from campinglist where posblFcltyCl like '%해수욕%'</select>
    
    <select id="tagSpring" resultType="int">select count(operPdCl) as spring from campinglist where operPdCl like '%봄%'</select>
    <select id="tagSummer" resultType="int">select count(operPdCl) as summer from campinglist where operPdCl like '%여름%'</select>
    <select id="tagFall" resultType="int">select count(operPdCl) as fall from campinglist where operPdCl like '%가을%'</select>
    <select id="tagwinter" resultType="int">select count(operPdCl) as winter from campinglist where operPdCl like '%겨울%'</select>
    
    <select id="tagOne" resultType="int">select count(gmemberno) as one from gather where gmemberno='1'</select>
    <select id="tagTwo" resultType="int">select count(gmemberno) as two from gather where gmemberno='2'</select>
    <select id="tagThree" resultType="int">select count(gmemberno) as three from gather where gmemberno='3'</select>
    <select id="tagFour" resultType="int">select count(gmemberno) as four from gather where gmemberno='4'</select>
    <select id="tagFive" resultType="int">select count(gmemberno) as five from gather where gmemberno='5'</select>
    <select id="tagSixMoreThan" resultType="int">select count(gmemberno) as sixmorethan from gather where gmemberno between '6' and '9'</select>
    <select id="tagTenMoreThan" resultType="int">select count(gmemberno) as tenmorethan from gather where gmemberno between '10' and '999999'</select>
    
    
    <select id="adminMembers" resultType="com.campus.myapp.member.MemberVO">
        SELECT userid, username, nickname, email, case isadmin when 0 then '사용자' else '관리자'end AS isadmin, userscore, usertel, joindate from member
        <if test="searchWord != null">
		where 				${searchKey}
		like 				'%${searchWord}%'
		</if>
        order by joindate desc
        limit		 		${onePageRecord}
		offset				${offsetIndex}
    </select>
    
    <delete id="adminMultiDelete">
    	delete from member
    	<where>
            <foreach item="item" collection="telList" open="usertel in (" separator=", " close=")">
                #{item}
            </foreach>
         </where>
    </delete>
    
    <select id="adminMembersInfo" resultType="com.campus.myapp.member.MemberVO">
        select userid, username, nickname, userpwd, usertel, birth, gender, email, joindate,
        	   case isadmin when 0 then '사용자' else '관리자'end AS isadmin, userscore, zzim_zzimno
        from member
        where nickname=#{param1}
    </select>
    
    
    <select id="adminCampList" resultType="com.campus.myapp.camping.CampingVO">
    	select contentId, facltNm, addr1, addr2, tel, homepage, resveCl, resveUrl from campinglist
    	<if test="searchWord != null">
		where 				${searchKey}
		like 				'%${searchWord}%'
		</if>
    	order by contentId desc
    	limit		 		${onePageRecord}
		offset				${offsetIndex}
    </select>
    
    <delete id="adminCampListDel">
    	delete from campinglist
    	<where>
            <foreach item="item" collection="contentIdList" open="contentId in (" separator=", " close=")">
                #{item}
            </foreach>
         </where>
    </delete>
    
    
    
    <select id="adminAddCamperList" resultType="com.campus.myapp.gather.GatherVO">
    	select gatherno, title, place, nickname, startdate, enddate, createdate from gather
    	<if test="searchWord != null">
		where 				${searchKey}
		like 				'%${searchWord}%'
		</if>
    	order by gatherno desc
    	limit		 		${onePageRecord}
		offset				${offsetIndex}
    </select>
    
    <delete id="adminAddCamperListDel">
    	delete from gather
    	<where>
            <foreach item="item" collection="gathernoList" open="gatherno in (" separator=", " close=")">
                #{item}
            </foreach>
         </where>
    </delete>
    
    <select id="adminAutoCampList" resultType="com.campus.myapp.car.CarVO">
    	select carno, title, content, writedate, nickname, region, locx, locy from car
    	<if test="searchWord != null">
		where 				${searchKey}
		like 				'%${searchWord}%'
		</if>
    	order by carno desc
    	limit		 		${onePageRecord}
		offset				${offsetIndex}
    </select>
    
    <delete id="adminAutoCampListDel">
    	delete from car
    	<where>
            <foreach item="item" collection="carNoList" open="carno in (" separator=", " close=")">
                #{item}
            </foreach>
         </where>
    </delete>
    
    <select id="adminGatherCommentList" resultType="com.campus.myapp.gather.ReplyVO">
    	select replyno, content, writedate, nickname, gatherno from gatherreply
    	<if test="searchWord != null">
		where 				${searchKey}
		like 				'%${searchWord}%'
		</if>
    	order by replyno desc
    	limit		 		${onePageRecord}
		offset				${offsetIndex}
    </select>
    
    <select id="adminCarCommentList" resultType="com.campus.myapp.car.CarReplyVO">
    	select replyno, content, writedate, nickname, carno from carreply
    	<if test="searchWord != null">
		where 				${searchKey}
		like 				'%${searchWord}%'
		</if>
    	order by replyno desc
    	limit		 		${onePageRecord}
		offset				${offsetIndex}
    </select>
    
    <delete id="adminGatherCommentListDel">
    	delete from gatherreply
    	<where>
            <foreach item="item" collection="replyNoList" open="replyno in (" separator=", " close=")">
                #{item}
            </foreach>
         </where>
    </delete>
    
    <delete id="adminCarCommentListDel">
    	delete from carreply
    	<where>
            <foreach item="item" collection="replyNoList" open="replyno in (" separator=", " close=")">
                #{item}
            </foreach>
         </where>
    </delete>
    
    <select id="allList" resultType="com.campus.myapp.member.MemberVO">
        SELECT userid, username, nickname, email, case isadmin when 0 then '관리자' else '사용자'end AS isadmin, userscore, usertel, joindate from member
        <if test="searchWord != null">
		where 				${searchKey}
		like 				'%${searchWord}%'
		</if>
        order by joindate desc
        limit		 		${onePageRecord}
		offset				${offsetIndex}
    </select>
</mapper>